@using Hospital.ViewModels
@model RoleViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Admin&DoctorLayout.cshtml";
}



<h3> Role details</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Role Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
       

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn" style="background-color:#0474cc; color:white">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back</a>
</div>