@{
    ViewData["Title"] = "CheckYourEmailInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        Password reset link has been sent to your mail, please check your inbox.
    </div>
</div>

@section ValidationScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}

