@using Hospital.ViewModels
@model ForgetPasswordViewModel


@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" style="color:red" class="text-danger"></div>

		<p>You can reset your password with your registered e-mail address</p>
		<br />
		<br />
		<form asp-action="SendEmail">

			<input type="email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" style="color:red"></span>


			<input type="submit" value="Send password reset link">
		</form>


	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}

