@using Hospital.ViewModels
@model LoginViewModel

@{
	//ViewData["Title"] = "Login";
	ViewData["Title"] = $"Login as {ViewBag.Role}";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link href="~/css/layoutstylesheet.css" rel="stylesheet" />

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" style="color:red" class="text-danger"></div>
		@*display all arrors if register doesn't succeed*@


		<form asp-action="Login" asp-controller="Account" method="post">

			@* <input type="hidden" name="role" value="@ViewBag.Role" /> *@
			<input type="hidden" name="role" value="@TempData["Role"]" />

			<input type="email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" style="color:red"></span>
			<br />


			@*type=Passowrd: to be hidden*@
			<input type="Password" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" style="color:red"></span>
			<br />


			<input type="submit" value="LOGIN">
		</form>


		@if (ViewBag.Role == "Patient")
		{
			<p>Don't have an Account? <a asp-action="Register"> Register Now</a></p>
			<br />
			
		}
		<p><a asp-action="ForgetPassword">Forget Password?</a></p>

	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}