@using Hospital.ViewModels
@model RegisterViewModel


@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@* <link href="~/css/AuthStyleSheet.css" rel="stylesheet" /> *@



<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" style="color:red" class="text-danger"></div>

		
		<form asp-action="Register" asp-controller="Account" method="post">
			<input type="text" asp-for="FName" placeholder="First Name" required="">
			<span asp-validation-for="FName" style="color:red"></span>
			<br />
			@*asp-validation-for: check validations defined at RegisterViewModel*@

			<input type="text" asp-for="LName" placeholder="Last Name" required="">
			<span asp-validation-for="LName" style="color:red"></span>
			<br />



			<input type="text" asp-for="Age" placeholder="Age" required="" />
			<span asp-validation-for="Age" style="color:red"></span>
			<br />


			
				<select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Hospital.Models.Gender>()" required>
				<option value="" disabled selected>Gender</option>
				</select>
				<span asp-validation-for="Gender" style="color:red"></span>
				<br />
				
			
			


			<input type="text" asp-for="PhoneNumber" placeholder="Phone Number" required="">
			<span asp-validation-for="PhoneNumber" style="color:red"></span>
			<br />


			<input type="email" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" style="color:red"></span>
			<br />


			@*type=Passowrd: to be hidden*@
			<input type="password" asp-for="Password" placeholder="Password" required="">
			<span asp-validation-for="Password" style="color:red"></span>
			<br />


			<input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" style="color:red"></span>
			<br />



			<div class="wthree-text">
				<label class="anim">
					<input asp-for="Agree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>



			<input type="submit" value="REGISTER">
		</form>
		<p>Do you have an Account? <a asp-action="ChooseRole" asp-controller="Home"> Login Now</a></p>

	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}
@* render the jquery script defined in the _validationScriptPartial *@
@* allow you to apply the client-side validations you made in the RegisterViewModel,, that you used here in the span *@
