@using Hospital.ViewModels
@model ResetPasswordViewModel

@{
	ViewData["Title"] = "ResetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" style="color:red" class="text-danger"></div>

		<br />
		<br />
		<form asp-action="ResetPassword">

			<input type="password" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" style="color:red"></span>
			<br />


			<input type="password" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" required="">
			<span asp-validation-for="ConfirmNewPassword" style="color:red"></span>



			<input type="submit" value="Confirm Reset">
		</form>


	</div>
</div>

@section ValidationScriptSection
{
	<partial name="_ValidationScriptsPartial" />
}

